.searchForm {
    max-width: calc(100% - 140px);
    display: flex;
    margin: 70px auto 69px auto;
    background: #2F2F2F;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.searchForm__form {
    width: 100%;
}

.searchForm__fieldset {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.searchForm__input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.searchForm__search-button {
    padding: 8px 13px;
    margin-right: 30px;
    background-color: #4285F4;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 15px;
}

.searchForm__search-button:hover {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}

.searchForm__icon {
    margin: 0 16px 0 25px;
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .searchForm {
        max-width: calc(100% - 60px);
    }
    .searchForm__search-button {
        margin: 0 19px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .searchForm {
        flex-direction: column;
        background: transparent;
        margin-bottom: 109px;
        max-width: calc(100% - 20px);
    }
    
    .searchForm__fieldset {
        background: #2F2F2F;
        height: 72px;
        border-radius: 9px;
    }
    .searchForm__icon {
        display: none;
    }
    .searchForm__input {
        margin-left: 19px;
        font-size: 14px;
        line-height: 20px;
    }
}